.videouz{
    position: absolute;
    width: 60%;
    height: 60vh;
    border-radius: 15px;
    display: block;
    margin: auto;
}
iframe{
    width: 100%;
    height: 60vh;
    border-radius: 15px;
    display: flex;
    justify-content: center;
}
.videouz i{
    color: #5FCF80;
    display: flex;
    justify-content: end;
}
@media (max-width: 600px){
    .videouz{
        width: 100%;
        height: 40vh;

    }
    iframe{
        width: 100%;
        height: 40vh;
    }
}